html {
    font-family: arial, tahoma, sans-serif;
    line-height: 1.4em;
}

.z-var {
    color: red;
    background-color: rgba(200,0,0,0.08);
}

.z-var-template,
.z-var-template-recursive {
    color: darkorange;
    background-color: rgba(200,100,0,0.08);
}

html {
    box-sizing: border-box;
}

.example {
    padding: 1em;
    margin: 1em;
}

.html-before,
.code,
.html-after,
.html {
    border-radius: 5px;
    border: 1px solid silver;
    padding: 3em 2em 1em 2em;
    position: relative;
    display: block;
    white-space: pre-wrap;
}

.html {
    white-space: initial;
}

.html-before::before,
.code::before,
.html-after::before,
.html::before {
    display: block;
    background-color: rgba(0, 80, 0, 0.2);
    padding: 0.2em 1em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.html-before::before { content: "HTML before application"; }
.code::before  { content: "Javascript"; }
.html-after::before { content: "HTML after application"; }
.html::before { content: "Rendered output"; }

.error {
    color: red;
}