.dna-template-hidden,
[template] {
    display: none !important;
}

/* Nonessential */
.dna-template-visible {
    animation: dna-template-visible var(--dna-anim-speed, 0.5s);
    animation-timing-function: ease-in;
    animation-fill-mode: none;
}
@keyframes dna-template-visible {
    0% {
	opacity: 0;
	transform: translateY(10px);
    }
    100% {
	opacity: 1;
	transform: translateY(0px);
    }
}
