html {
    font-family: 'Roboto', Arial, sans-serif;
}

.result {
    font-size: 1.5em;
}

.result:before {
    content: 'Result: ';
    font-weight: bold;
}

#tests {
    margin: 2em 0em;
    padding: 0em;
    list-style-type: none;
    list-style: none;
    position: relative;
}

#tests > li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    counter-increment: test;
}

#tests > li:before {
    content: "Test #" counter(test);
    display: block;
    background: #eee;
    padding: 0.5em;
    color: #333;
    cursor: pointer;
}

#tests > li.pass:before {
    content: "✅ Test #" counter(test);
}

#tests > li.fail:before {
    content: "❌ Test #" counter(test);
}

#tests > li > * {
    border: 1px dotted black;
    padding: 1em 1em;
    flex: 1;
    min-width: 360px;
}

#tests > li > *:first-child {
   border-right: 1px dotted black
}

#tests > li > *:before {
    display: block;
    border-bottom: 1px dotted black;
}

#tests .actions {
    flex: 0;
    min-width: auto;
    white-space: nowrap;
}

#tests > li > article:first-of-type:before {
    content: "Result";
}

#tests > li > article:last-of-type:before {
    content: "Expected";
}


#tests > li.fail:before,
#tests > li.fail > * {
    background: #FCC;
}

#tests > li.pass:before,
#tests > li.pass > * {
    background: #CFC;
}

#tests > li.pass:not(.active) > * {
    display: none;
}

#tests > li:hover:before {
    background: #FFC;
}

#tests > li > *[data-source]::after {
    content: attr(data-source);
    display: block;
    font-family: monospace;
    font-size: 0.8em;
    background: #eee;
    margin-top: 1em;
    padding: 0.5em;
    color: #333;
    white-space: pre;
    overflow: auto;
}

/* Center message box in the middle of the screen */
.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    text-align: center;
}
